<h1>Fill an Application</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
First Name:<br>
<input name="first name:">
<br><br>
Last Name:<br>
<input name="last name:">
<br><br>
Age:<br>
<input name="Age:">
<br><br>
Mobile Number:<br>
<input name="Mobile Number:">
<br><br>
Email ID:<br>
<input name="Email ID:">
<br><br>
Location:<br>
<input name="Location:">
<br><br>
Total Marks Scored:<br>
<input name="Total Marks Scored:">
<br><br>
Preferred Course:<br>
<input name="Preferred Course:">
<br><br>


<input type="submit" value="Submit">
</form>
